/* VARS  */
:root {
  --transition: all 0.3s ease-out;
  --ease: cubic-bezier(0.625, 0.05, 0, 1);
  --swiper-transition: 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* CUSTOM RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Now Display";
  font-weight: 400;
  font-style: normal;
}

img,
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: visible;
}

picture {
  height: 100%;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

input {
  background: transparent;
  border: none;
}

input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
}

/* RESPONSIVE */
html {
  font-size: calc(10 * (100vw / 1920));
}

/* === MOBILE PORTRAIT === */
@media screen and (max-width: 481px) and (orientation: portrait) {
  html {
    font-size: calc(10 * (100vw / 375));
  }
}

/* === TABLET PORTRAIT=== */
@media screen and (min-width: 482px) and (max-width: 991px) and (orientation: portrait) {
  html {
    font-size: calc(10 * (100vw / 768));
  }
}

/* === DESKTOP PORTRAIT === */
@media screen and (min-width: 992px) and (orientation: portrait) {
  html {
    font-size: calc(10 * (100vw / 600));
  }
}

/* SROLLBAR */
::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
}

/*  SELECTION */
::selection {
  /* color: #009ca8; */
  /* background-color: #fff; */
}

/*  CLIP PATHS */
.clippy {
  position: absolute;
  top: -999px;
  left: -999px;
  width: 0;
  height: 0;
}

.overflow-wrapper {
  overflow: hidden;
  width: 100%;
}

/*  LENIS */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}

/* MODALS  */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  transition: var(--transition);
  z-index: 50;
  isolation: isolate;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-layer {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(18.5px);
  -webkit-backdrop-filter: blur(18.5px);
  z-index: -1;
  inset: 0;
}

@media screen and (orientation: portrait) {
  .modal-layer {
    background: rgba(0, 0, 0, 0.5);
  }
}

/* newsletter  */
.modal-newsletter {
  position: relative;
  padding: 1.2rem;
}

.modal-newsletter::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 3rem;
  border: 0.5px solid #cde7ff88;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.modal-newsletter .modal-newsletter__inner {
  position: relative;
  padding: 7rem 9.4rem 4.5rem;
  border-radius: 2.5rem;
  border: 1px solid rgba(246, 246, 246, 0.12);
  overflow: hidden;
  background: linear-gradient(181deg, #030e17 -1.34%, #000 96.4%);
  isolation: isolate;
}

.modal-newsletter__layer,
.modal-newsletter__pixels {
  position: absolute;
  width: 105%;
  height: 105%;
  object-fit: fill;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.modal-newsletter__pixels {
  z-index: 0;
}

@media screen and (orientation: portrait) {
  .modal-newsletter {
    border-radius: 1rem;
    padding: 0.8rem;
    width: calc(100% - 3rem);
  }

  .modal-newsletter::before {
    border-radius: 1rem;
  }

  .modal-newsletter .modal-newsletter__inner {
    padding: 2rem 3rem 9rem;
    border-radius: 0.8rem;
    border: 0.416px solid rgba(246, 246, 246, 0.12);
    background: linear-gradient(181deg, #030e17 -1.34%, #000 96.4%);
  }
}

.modal-newsletter .modal-newsletter__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.8rem;
  height: 3.8rem;
  cursor: pointer;
  transform: translate(100%, -50%);
  transition: 0.5s var(--ease);
}

.modal-newsletter .modal-newsletter__close:hover {
  transform: translate(100%, -50%) rotate(-90deg) scale(0.8);
}

@media screen and (orientation: portrait) {
  .modal-newsletter .modal-newsletter__close {
    position: absolute;
    top: 0rem;
    right: -1rem;
    width: 1.5rem;
    height: 1.5rem;
    transform: translate(0%, 0%);
  }

  .modal-newsletter .modal-newsletter__close:hover {
    transform: translate(0%, 0%) rotate(0deg) scale(1);
  }
}

.modal-newsletter .modal-newsletter__content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: min(4.5rem, 4.5vh);
  align-items: center;
  color: #fff;
}

.modal-newsletter .modal-newsletter__loop {
  height: min(18.9rem, 18.9vh);
  aspect-ratio: 1/1;
}

.modal-newsletter .modal-newsletter__heading {
  text-align: center;
  font-size: min(5rem, 5vh);
  font-weight: 400;
}

@media screen and (orientation: portrait) {
  .modal-newsletter .modal-newsletter__content {
    gap: 0;
  }

  .modal-newsletter .modal-newsletter__loop {
    height: min(15rem, 15vh);
    margin-bottom: min(2.5rem, 2.5vh);
    margin-top: min(7rem, 7vh);
    object-fit: contain;
  }

  .modal-newsletter .modal-newsletter__heading {
    font-size: min(3.5rem, 3.5vh);
    width: 26.7rem;
    line-height: 1;
    margin-bottom: min(7rem, 7vh);
  }
}

.modal-newsletter .modal-newsletter__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.modal-newsletter .modal-newsletter__label {
  font-size: min(2rem, 2vh);
  line-height: normal;
}

.modal-newsletter #email.modal-newsletter__input {
  padding: 1.5rem 2.8rem;
  border-radius: 12rem;
  color: #fff;
  font-size: min(2rem, 2vh);
  line-height: 0.9;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.modal-newsletter #email.modal-newsletter__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: min(2rem, 2vh);
  line-height: normal;
}

.modal-newsletter .modal-newsletter__submit {
  position: relative;
  padding: 1.5rem;
  width: 100%;
  isolation: isolate;
  margin-top: 1.5rem;
}

.modal-newsletter .modal-newsletter__submit .modal-newsletter__submit-bg {
  position: absolute;
  inset: 0;
  border-radius: 7.3rem;
  background: radial-gradient(36.92% 87.53% at 50% 0%, #39a3fe 0%, #3467d7 100%);
  z-index: -1;
  transition: 0.5s var(--ease);
  will-change: transform;
}

.modal-newsletter .modal-newsletter__submit:hover .modal-newsletter__submit-bg {
  transform: scale(0.98);
}

.modal-newsletter .modal-newsletter__submit .modal-newsletter__submit-text {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
}

@media screen and (orientation: portrait) {
  .modal-newsletter .modal-newsletter__form {
    gap: 1rem;
  }

  .modal-newsletter .modal-newsletter__label {
    font-size: min(1.4rem, 1.4vh);
  }

  .modal-newsletter #email.modal-newsletter__input {
    padding: 1.4rem 1.4rem;
    border-radius: 5rem;
    font-size: 1.2rem;
    border: 0.416px solid rgba(255, 255, 255, 0.2);
  }

  .modal-newsletter #email.modal-newsletter__input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.2rem;
  }

  .modal-newsletter .modal-newsletter__submit {
    padding: 1.3rem;
    margin-top: 1rem;
  }

  .modal-newsletter .modal-newsletter__submit .modal-newsletter__submit-bg {
    border-radius: 5.53rem;
    background: radial-gradient(36.92% 87.53% at 50% 0%, #39a3fe 0%, #3467d7 100%);
    border: 0.416px solid rgba(246, 246, 246, 0.12);
  }

  .modal-newsletter .modal-newsletter__submit:hover .modal-newsletter__submit-bg {
    transform: scale(1);
  }

  .modal-newsletter .modal-newsletter__submit .modal-newsletter__submit-text {
    font-size: 1.4rem;
  }
}

/* MODALS  */
.backgrounds {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  isolation: isolate;
}

.backgrounds .backgrounds-color {
  position: absolute;
  inset: 0;
  z-index: -2;
  will-change: background;
}

.backgrounds .backgrounds-pixels {
  position: absolute;
  inset: 0;
  z-index: -1;
}
