/* ========== AI ========== */
.ai .ai-wrapper {
  display: flex;
  padding: 13.5rem 39rem;
}

.ai .ai-wrapper .ai-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 10rem;
  border-radius: 2.5rem;
  border: 1.207px solid #2699fe57;
  background: linear-gradient(0deg, #082740 8.11%, rgba(5, 20, 33, 0) 51.76%, rgba(38, 153, 254, 0.2) 95.41%);
}

.ai .ai-wrapper .ai-card .ai-content {
  display: grid;
  justify-items: center;
  align-content: start;
  gap: min(2.8rem, 2.8vh);
}

.ai .ai-wrapper .ai-card .ai-content__h2 {
  text-align: center;
  font-size: min(8.5rem, 8.5vh);
  font-weight: 700;
  background: linear-gradient(90deg, #999 5.77%, #fff 53.26%, #999 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ai .ai-wrapper .ai-card .ai-content__h3 {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  line-height: 116.667%;
  width: 60%;
}

.ai .ai-wrapper .ai-card .ai-content__p {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 2rem;
  line-height: 130%;
}

.ai .ai-wrapper .ai-card .ai-buttons {
  display: flex;
  gap: 2.5rem;
}

@media screen and (orientation: portrait) {
  .ai .ai-wrapper {
    display: flex;
    padding: 10rem 1.5rem 5rem;
  }

  .ai .ai-wrapper .ai-card {
    padding: 4.5rem 1.5rem;
    border-radius: 2rem;
    border: 0.7px solid #2699fe57;
  }

  .ai .ai-wrapper .ai-card .ai-content {
    gap: 2rem;
  }

  .ai .ai-wrapper .ai-card .ai-content__h2 {
    font-size: 3rem;
  }

  .ai .ai-wrapper .ai-card .ai-content__h3 {
    font-size: 1.6rem;
    width: 90%;
  }

  .ai .ai-wrapper .ai-card .ai-content__p {
    font-size: 1.4rem;
    width: 92%;
  }

  .ai .ai-wrapper .ai-card .ai-buttons {
    gap: 2rem;
  }

  .ai .ai-wrapper .ai-card .ai-buttons .cta-button-1 {
    flex-shrink: 0;
    padding: 1.5rem 1.9rem;
  }
}

@media (max-width: 950px) and (orientation: landscape) {
  .ai .ai-wrapper {
    padding: 13.5rem 19rem;
  }
  
  
}

