/* ========== CARDS ========== */
.cards {
  padding-block: min(28.7rem, 28.7vh) min(7.5rem, 7.5vh);
  padding-inline: 5rem;
  position: relative;
  isolation: isolate;
}

.cards-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  mask-image: linear-gradient(black 60%, transparent);
}

.cards .cards-content {
  display: flex;
  gap: 6.5rem;
  width: 100%;
  perspective: 1000px;
}

@media screen and (orientation: portrait) {
  .cards {
    padding-block: 10rem 2rem;
    padding-inline: 1.5rem;
  }

  .cards .cards-content {
    flex-direction: column;
    gap: 3rem;
  }

  .cards-blur {
    display: none;
  }
}

.cards .cards-content .cards-item {
  position: relative;
  flex-grow: 1;
  height: 60.7rem;
  padding: 6.5rem 4.5rem;
  isolation: isolate;
  display: flex;
  border-radius: 2rem;
  overflow: hidden;
  border: 1px solid #2699fe1f;
}

.cards .cards-content .cards-item .cards-item__bg {
  position: absolute;
  inset: 0;
  z-index: -1;
}
.cards .cards-content .cards-item .cards-item__container {
  margin-top: auto;
  height: 35%;
  width: 47rem;
}

.cards .cards-content .cards-item .cards-item__title {
  color: #f6f6f6;
  font-size: 4.5rem;
  line-height: 120%;

  margin-bottom: 7px;
}

.cards .cards-content .cards-item .cards-item__text {
  color: rgba(246, 246, 246, 0.6);
  font-size: 2rem;
  line-height: normal;
}

@media screen and (max-width: 950px) and (orientation: landscape) {
  .cards .cards-content {
    gap: 3rem;
  }
  .cards .cards-content .cards-item {
    height: auto;
    padding: 10.5rem 2.5rem 6.5rem;
    min-height: fit-content;
  }

  .cards .cards-content .cards-item .cards-item__container {
    margin-top: auto;
    height: 90%;
    width: 40rem;
  }

  .cards .cards-content .cards-item .cards-item__title {
    color: #f6f6f6;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  .cards .cards-content .cards-item .cards-item__text {
    color: rgba(246, 246, 246, 0.6);
    font-size: 2rem;
    line-height: normal;
  }
}

@media screen and (orientation: portrait) {
  .cards .cards-content .cards-item {
    height: 37rem;
    padding: 4rem 2.9rem;
  }

  .cards .cards-content .cards-item .cards-item__container {
    height: 45%;
    width: 100%;
  }

  .cards .cards-content .cards-item .cards-item__title {
    font-size: 2.78rem;
    margin-bottom: 1.3rem;
  }

  .cards .cards-content .cards-item .cards-item__text {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 482px) and (max-width: 991px) and (orientation: portrait) {
  .cards .cards-content .cards-item {
    height: 57rem;
    max-width: 60%;
    margin-inline: auto;
  }

  .cards .cards-content .cards-item .cards-item__container {
    height: 25%;
    width: 100%;
  }
}
