/* ========== ESTATE  ========== */
.estate {
  padding-block: min(10rem, 10vh) 0;
  padding-inline: 5rem;
  position: relative;
}

@media screen and (max-width: 950px) and (orientation: landscape) {
  .estate {
    padding-inline: 5rem;
  }
}

.estate .estate-content {
  display: flex;
  flex-direction: column;
  gap: min(7.5rem, 7.5vh);
}

@media screen and (orientation: portrait) {
  .estate {
    padding-block: 10rem 5rem;
    padding-inline: 1.5rem;
  }

  .estate .estate-content {
    gap: 4rem;
  }

  .estate-header__buttons .estate-cta-button {
    padding: 1rem 1.5rem;
  }
}

@media screen and (min-width: 482px) and (max-width: 991px) and (orientation: portrait) {
  .estate {
    padding-inline: 3.5rem;
  }
}

.estate .estate-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.estate .estate-header__buttons {
  display: flex;
  gap: 1.5rem;
}

/* headings  */
.estate .estate-content .estate-heading {
  color: #fff;
  font-size: 6.5rem;
  font-weight: 300;
  line-height: 1.2;
  width: 77rem;
}
.estate .estate-content .estate-heading span {
  font-weight: 700;
}

@media screen and (orientation: portrait) {
  .estate .estate-content .estate-heading {
    font-size: 3rem;
    width: 101%;
    font-weight: 700;
  }

  .estate .estate-content .estate-heading span {
    font-weight: 700;
  }

  .estate .estate-header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
  }
}

/* bottom  */
.estate .estate-bottom {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.estate .estate-bottom .estate-video {
  width: 90rem;
  height: 49.7rem;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}

/* accordion  */
.estate .accordion-css {
  position: relative;
  width: 75rem;
}

.estate .accordion-css__list {
  flex-flow: column;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  position: static;
  gap: 2rem;
}

.estate .accordion-css__item {
  list-style: none;
  border-radius: 1.5rem;
  border: 1px solid #ffffff05;
  background: rgba(250, 250, 250, 0.04);
  box-shadow: 0 0 47.5px 0 rgba(102, 102, 102, 0.04);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  padding-inline: 4.5rem 2.5rem;
  position: relative;
}

.estate .accordion-css__item::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: 1.5rem;
  background: linear-gradient(to right, #0e1d2baa 60%, #143451);
  transition: opacity 0.3s ease-out;
  opacity: 0;
}

.estate .accordion-css__item-top {
  cursor: pointer;
  align-items: flex-start;
  padding: 2.5rem 0 2.5rem;
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  width: auto;
  position: relative;
}

@media screen and (orientation: portrait) {
  .estate .accordion-css {
    width: 100%;
  }

  .estate .accordion-css__item-top {
    align-items: flex-start;
    padding: 1.8rem 0 0;
    gap: 0rem;
  }

  /* bottom  */
  .estate .estate-bottom {
    justify-content: flex-start;
    flex-direction: column;
    gap: 3rem;
  }

  .estate .estate-bottom .estate-video {
    width: 100%;
    height: 20rem;
    border-radius: 0.5rem;
    display: none;
  }
}

.estate .accordion-css__item-bottom,
.accordion-css__item-description {
  transition: grid-template-rows 0.6s cubic-bezier(0.625, 0.05, 0, 1);
  grid-template-rows: 0fr;
  display: grid;
  position: relative;
  overflow: hidden;
}

[data-accordion-status="active"] .accordion-css__item-bottom,
[data-accordion-status="active"] .accordion-css__item-description {
  grid-template-rows: 1fr;
}

.estate .accordion-css__item-bottom-wrap,
.accordion-css__item-description-wrap {
  flex-flow: column;
  height: 100000%;
  display: flex;
  position: relative;
  overflow: hidden;
}

/* bottom  */
.estate .accordion-css__item-bottom-content {
  padding-bottom: 3.5rem;
  display: flex;
  gap: 8rem;
}

.accordion-css__item-bottom__buttons {
  display: flex;
  gap: 1.5rem;
}

/* headings  */
.estate .accordion-css__item-headings {
  display: grid;
}

.estate .accordion-css__item-h3 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 950px) and (orientation: landscape) {
  .estate .accordion-css__item-h3 {
    min-width: auto;
    display: inline-block;
    font-size: 2.5rem;
  }

  .estate .accordion-css__item-h2 {
    max-width: 20rem;
  }
}

.estate .accordion-css__item-h2 {
  color: #fff;
  font-size: 1.6rem;
  line-height: normal;
  font-weight: 300;
}

.accordion-css__item-description-content {
  color: #fff;
  font-size: 1.6rem;
  line-height: 130%;
  font-weight: 300;
  overflow: hidden;
  width: 60rem;
}

@media screen and (max-width: 950px) and (orientation: landscape) {
  .accordion-css__item-description-content {
    font-size: 1.6rem;
  }
}

.estate .accordion-css__item-icon {
  transition: transform 0.6s cubic-bezier(0.625, 0.05, 0, 1);
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  display: flex;
  transform: rotate(-40deg);
}

[data-accordion-status="active"] .accordion-css__item-icon {
  transform: rotate(0.001deg);
}

[data-accordion-status="active"] .accordion-css__item-image {
  opacity: 1;
  transform: translateY(0) rotateX(0) rotateY(0) scale(1);
}

@media screen and (orientation: portrait) {
  .estate .accordion-css__item-headings {
    display: grid;
    margin-bottom: 2rem;
  }

  /* bottom  */
  .estate .accordion-css__item-bottom-content {
    padding-bottom: 3rem;
    gap: 0rem;
    margin-top: 0;
  }

  .accordion-css__item-bottom__buttons {
    gap: 2rem;
  }

  /* headings  */
  .estate .accordion-css__item-image {
    display: none;
  }

  .estate .accordion-css__item {
    padding-inline: 2rem 1.2rem;
  }

  .estate .accordion-css__item-h3,
  .accordion-css__item-span {
    font-size: 1.4rem;
    min-width: 100%;
    margin-bottom: 1rem;
  }

  .accordion-css__item-span {
    display: none;
  }

  .estate .accordion-css__item-h2 {
    font-size: 1rem;
  }

  .accordion-css__item-description-content {
    width: 100%;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.4rem;
    line-height: 126%;
  }

  .estate .accordion-css__item-icon {
    width: 4rem;
    height: 4rem;
  }
}

@media screen and (min-width: 482px) and (max-width: 991px) and (orientation: portrait) {
  .accordion-css__item-description-content {
    width: 70%;
  }
}

.vimeo-bg {
  pointer-events: auto;
  isolation: isolate;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transform: translateX(0);
}

.vimeo-bg__iframe-wrapper {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  position: absolute;
}

.vimeo-bg__before {
  padding-top: 62.5%;
}

.vimeo-bg__iframe {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
}

.vimeo-bg__placeholder {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s linear;
  display: block;
  position: absolute;
}

.vimeo-bg[data-vimeo-activated="true"][data-vimeo-loaded="true"] .vimeo-bg__placeholder {
  opacity: 0;
  transition-delay: 0.2s;
  pointer-events: none;
}

.estate [data-accordion-status="active"].accordion-css__item::before {
  opacity: 1;
}
