/* ========== FAQ ========== */
.faq {
  padding: min(13.5rem, 13.5vh) 36rem min(13.5rem, 13.5vh);
  position: relative;
}

.faq .faq-gradient {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 180vh;
  transform: translateY(-10%);
  z-index: -1;
  user-select: none;
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(11, 57, 100, 1) 0%, rgba(11, 57, 100, 1) 0%, rgba(255, 255, 255, 0) 80%);
  pointer-events: none;
  mask-image: linear-gradient(transparent, black 20%);
}

.faq .faq-wrapper {
  display: flex;
  flex-direction: column;
  gap: 9rem;
  align-items: center;
}

.faq .faq-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.faq .faq-left .faq-left__h2 {
  color: #fff;
  text-align: center;
  font-size: 9rem;
  font-weight: 600;
  line-height: 111.111%;
  text-transform: capitalize;
  width: 81.5rem;
}

.faq .faq-left .faq-left__h2 span {
  color: #2699fe;
  display: block;
  font-weight: 600;
}

.faq .faq-left .faq-left__p {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  line-height: 115%;
  width: 59.5rem;
  margin-bottom: 3rem;
}

.faq .faq-left .faq-left__selectors-scroll {
  width: fit-content;
  overflow-x: scroll;
}

.faq .faq-left .faq-left__selectors {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.faq .faq-left .faq-left__selector {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2.5rem;
  border-radius: 10rem;
  overflow: hidden;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: color 0.3s ease-out, border-color 0.3s ease-out;
}

.faq .faq-left .faq-left__selector:not(.is--active) {
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.2);
}

.faq .faq-left .faq-left__selector.is--active::before {
  opacity: 1;
}

.faq .faq-left .faq-left__selector::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10rem;
  background: radial-gradient(36.92% 87.53% at 50% 0%, #39a3fe 0%, #3467d7 100%);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease-out;
}

.faq .faq-left .faq-left__selectors:hover .faq-left__selector::before {
  opacity: 0;
}

.faq .faq-left .faq-left__selectors:hover .faq-left__selector {
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.2);
}

.faq .faq-left .faq-left__selectors:hover .faq-left__selector:hover {
  border: 1px solid rgba(255, 255, 255, 0);
  color: #fff;
}

.faq .faq-left .faq-left__selector:hover::before {
  opacity: 1 !important;
}

/* right  */
.faq .faq-right {
  display: grid;
  grid-template-areas: "stack";
  width: 100%;
  flex-shrink: 0;
  height: fit-content;
}

.faq .accordion-css {
  position: relative;
  grid-area: stack;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  transition: opacity 0.8s var(--ease), transform 0.3s var(--ease);
  height: 10rem;
  /* display: none; */
}

.faq .faq-right[data-current-accordion="general"] .accordion-css[data-accordion="general"] {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  display: block;
  height: fit-content;
}

.faq .faq-right[data-current-accordion="presale"] .accordion-css[data-accordion="presale"] {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  display: block;
  height: fit-content;
}

.faq .faq-right[data-current-accordion="dashboard"] .accordion-css[data-accordion="dashboard"] {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  display: block;
  height: fit-content;
}

.faq .faq-right[data-current-accordion="others"] .accordion-css[data-accordion="others"] {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  display: block;
  height: fit-content;
}

.faq .accordion-css__list {
  grid-row-gap: 2rem;
  flex-flow: column;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  position: static;
}

.faq .accordion-css__item {
  list-style: none;
  border-radius: 1.5rem;
  border: 1px solid rgba(250, 250, 250, 0.04);
  background: rgba(250, 250, 250, 0.04);
  box-shadow: 0 0 47.5px 0 rgba(102, 102, 102, 0.04);
  backdrop-filter: blur(90px);
  -webkit-backdrop-filter: blur(90px);
  position: relative;
  width: -webkit-fill-available;
}

.faq .accordion-css__item::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: 1.5rem;
  background: linear-gradient(to right, #0e1d2baa 60%, #143451);
  transition: opacity 0.3s ease-out;
  opacity: 0;
}

.faq .accordion-css__item-block {
  display: flex;
  gap: 2rem;
}

.faq .accordion-css__item-pattern {
  width: 9rem;
  height: 9rem;
  flex-shrink: 0;
}

.faq .accordion-css__item-top {
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 4rem;
  display: flex;
  max-height: 9rem;
}

.faq .accordion-css__item-bottom {
  transition: grid-template-rows 0.6s cubic-bezier(0.625, 0.05, 0, 1);
  grid-template-rows: 0fr;
  display: grid;
  position: relative;
  overflow: hidden;
}

[data-accordion-status="active"] .faq .accordion-css__item-bottom {
  grid-template-rows: 1fr;
}

.faq [data-accordion-status="active"].accordion-css__item::before {
  opacity: 1;
}

.faq .accordion-css__item-bottom-wrap {
  flex-flow: column;
  height: 100000%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.faq .accordion-css__item-bottom-content {
  padding-bottom: 2.5rem;
  padding-left: 4rem;
  padding-right: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.faq .accordion-css__item-h3 {
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  width: 90%;
}

.faq .accordion-css__item-icon {
  transition: transform 0.6s cubic-bezier(0.625, 0.05, 0, 1);
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  transform: rotate(-40deg);
}

[data-accordion-status="active"] .faq .accordion-css__item-icon {
  transform: rotate(0.001deg);
}

.faq .accordion-css__item-icon-svg {
  width: 1em;
}

.faq .accordion-css__item-p {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: clamp(13px, calc(1.8rem + 5px), 1.8rem);
  font-weight: 400;
  line-height: 23px;
  width: 80%;
}

.faq .accordion-css__item-p a {
  color: white;
}

.faq .accordion-css__item-ul {
  padding-left: 2rem;
  margin-bottom: 1rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.faq .accordion-css__item-ul-li {
  color: rgba(255, 255, 255, 0.6);
  font-size: clamp(13px, calc(1.8rem + 5px), 1.8rem);
  font-weight: 400;
  list-style: disc;
}

.faq .accordion-css__item-ul-li.no--style {
  list-style: none;
}

.faq .accordion-css__item-p strong,
.faq .accordion-css__item-ul-li strong {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.797);
}

.faq .accordion-css__item-p span {
  color: #fff;
}

@media (orientation: portrait) {
  .faq {
    padding: 5rem 0rem 6rem;
  }

  .faq .faq-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    gap: 5rem;
  }

  .faq .faq-left {
    gap: 0rem;
  }

  .faq .faq-left .faq-left__h2 {
    font-size: 3.5rem;
    font-weight: 600;
    width: 100%;
    padding-inline: 1rem;
    margin-bottom: 0.5rem;
  }
  .faq .faq-left .faq-left__h2 span {
    font-weight: 700;
  }

  .faq .faq-left .faq-left__p {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 128.571%;
    padding-inline: 1.5rem;
    width: 100%;
    margin-bottom: 2.5rem;
  }

  .faq .accordion-css__item-ul {
    padding-left: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    gap: 1rem;
  }

  .faq .accordion-css__item-ul-li {
    font-size: 1.4rem;
  }

  .faq .faq-left .faq-left__selectors-scroll {
    width: 100vw;
    overflow-x: scroll;
  }

  .faq .faq-left .faq-left__selectors {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    margin-top: 0rem;
    gap: 1.3rem;
    padding-inline: 1.5rem;
  }

  .faq .faq-left .faq-left__selector {
    border-radius: 6.5rem;
    font-size: 1.1rem;
    flex-shrink: 0;
    padding: 1rem 1.5rem 1rem;
  }

  .faq .faq-left .faq-left__selector::before {
    border-radius: 9rem;
  }

  /* right  */
  .faq .accordion-css__item-block {
    gap: 0.6rem;
  }

  .faq .accordion-css__item-pattern {
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
  }

  .faq .faq-right {
    width: 100%;
    padding-inline: 1.5rem;
  }

  .faq .accordion-css__list {
    grid-row-gap: 1.2rem;
  }

  .faq .accordion-css__item,
  .faq .accordion-css__item::before {
    border-radius: 0.6rem;
  }

  .faq .accordion-css__item-top {
    padding: 1.8rem 1.5rem;
  }

  .faq .accordion-css__item-bottom-content {
    padding-bottom: 1.8rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 90%;
  }

  .faq .accordion-css__item-h3 {
    font-size: 1.4rem;
    width: 80%;
  }

  .faq .accordion-css__item-icon {
    width: 4rem;
    height: 4rem;
  }

  .faq .accordion-css__item-p {
    font-size: 1.2rem;
    line-height: normal;
    width: 100%;
  }

  .faq .faq-gradient {
    opacity: 0.8;
  }
}

@media screen and (min-width: 482px) and (max-width: 991px) and (orientation: portrait) {
  .faq .faq-left {
    max-width: 45rem;
    margin-inline: auto;
  }

  .faq .faq-left .faq-left__selectors-scroll {
    width: fit-content;
    margin-inline: auto;
  }

  .faq .faq-right {
    padding-inline: 3.5rem;
  }
}
