/* ========================================
   FOOTER SECTION STYLES
======================================== */

/* ========== FOOTER ========== */
.footer {
  padding-block: min(14.5rem, 14.5vh) min(4.5rem, 4.5vh);
  padding-inline: 22.5rem;
}

@media screen and (orientation: portrait) {
  .footer {
    padding-block: 1.5rem 2rem;
    padding-inline: 1.5rem;
  }
}

/* content  */
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* loop  */
.footer-loop {
  display: flex;
  flex-grow: 1;
  margin-bottom: min(3rem, 3vh);
  aspect-ratio: 1/1;
  height: min(25rem, 25vh);
}
.footer-loop video {
  mix-blend-mode: screen;
  transform: scale(1.4);
}

@media screen and (orientation: portrait) {
  .footer-loop {
    margin-bottom: 2.5rem;
    height: 12rem;
  }
  .footer-loop video {
    transform: scale(1);
  }
}

/* heading  */
.footer-heading {
  text-align: center;
  font-size: min(9.3rem, 9.3vh);
  line-height: 127%;
  background: linear-gradient(90deg, #030e17 -13.09%, #f6f6f6 18.21%, #f6f6f6 79.64%, #030e17 107.46%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: min(7rem, 7vh);
}

@media screen and (orientation: portrait) {
  .footer-heading {
    font-size: 3.5rem;
    margin-bottom: 4rem;
    width: 26.7rem;
  }
}

/* grid  */
.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 7rem;
  color: #fff;
  height: fit-content;
  width: 100%;
}

@media screen and (orientation: portrait) {
  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem 2rem;
  }
}

/* disclaimer  */
.footer-disclaimer {
  display: grid;
  gap: min(2.5rem, 2.5vh);
  width: min(36.7rem, 36.7vh);
  height: fit-content;
}
.footer-disclaimer__logo {
  width: 25.7rem;
  height: 4.4rem;
}
.footer-disclaimer__text {
  font-size: min(2rem, 2vh);
  line-height: 125%;
}

@media screen and (orientation: portrait) {
  .footer-disclaimer {
    gap: 1rem;
    width: 100%;
  }
  .footer-disclaimer__logo {
    width: 14.5rem;
    height: 2.4rem;
  }
  .footer-disclaimer__text {
    font-size: 1.2rem;
    line-height: 1.6;
  }
}

/* column  */
.footer-column {
  display: grid;
  gap: min(3.5rem, 3.5vh);
  height: fit-content;
}
.footer-column .footer-column__heading {
  font-size: min(2.5rem, 2.5vh);
  font-weight: 700;
  line-height: 100%;
}
.footer-column .footer-column__list {
  display: grid;
  gap: min(1.2rem, 1.2vh);
}
.footer-column .footer-column__list li {
  font-size: min(1.8rem, 1.8vh);
  line-height: 138.889%;
}

@media screen and (orientation: portrait) {
  .footer-column {
    gap: 1.5rem;
  }
  .footer-column .footer-column__heading {
    font-size: 1.8;
    font-weight: 500;
  }
  .footer-column .footer-column__list {
    gap: 1rem;
  }
  .footer-column .footer-column__list li {
    font-size: 1.4rem;
    line-height: 100%;
  }
}

/* grid block  */
.footer-grid__block {
  display: flex;
  height: fit-content;
  gap: 7rem;
}
.footer-column.is--big {
  gap: min(2rem, 2vh);
}
.footer-column.is--big .footer-column__heading {
  font-size: min(4rem, 4vh);
}
.footer-column__text {
  font-size: min(1.8rem, 1.8vh);
  line-height: 138.889%;
  width: min(27.8rem, 27.8vh);
}

@media screen and (orientation: portrait) {
  .footer-grid__block {
    flex-direction: column;
    gap: 3.5rem;
  }
  .footer-column.is--big {
    gap: 1.8rem;
  }
  .footer-column.is--big .footer-column__heading {
    font-size: 1.8rem;
  }
  .footer-column__text {
    font-size: 1.2rem;
    line-height: 1.3;
    width: 100%;
  }
}

/* socials  */
.footer-socials {
  display: flex;
  gap: 2rem;
}
.footer-socials__link {
  background: rgba(255, 255, 255, 0.05);
  filter: drop-shadow(0 4px 72.4px rgba(15, 17, 16, 0.1));
  -webkit-filter: drop-shadow(0 4px 72.4px rgba(15, 17, 16, 0.1));
  backdrop-filter: blur(96.19999694824219px);
  -webkit-backdrop-filter: blur(96.19999694824219px);
  width: 4.1rem;
  height: 4.1rem;
  border-radius: 100%;
  position: relative;
}
.footer-socials__link svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (orientation: portrait) {
  .footer-socials {
    gap: 1.5rem;
  }
  .footer-socials__link {
    width: 3.4rem;
    height: 3.4rem;
  }
  .footer-socials__link svg {
    width: 1.3rem;
    height: 1.3rem;
  }
}

/* line  */
.footer-line {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
  margin-block: min(5.6rem, 5.6vh) min(3rem, 3vh);
}

@media screen and (orientation: portrait) {
  /* line  */
  .footer-line {
    margin-block: 3.9rem 2rem;
  }
}

/* copyright  */
.footer-copyright {
  width: fit-content;
  font-size: min(1.8rem, 1.8vh);
  line-height: 1;
  color: #fff;
}
.footer-copyright span {
  color: #2699fe;
}

@media screen and (orientation: portrait) {
  .footer-copyright {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.3;
  }
}
