/* ========== FOOTER ========== */
.footer {
  background: #fff;
}

.footer .footer-content {
  padding: min(13.5rem, 13.5vh) 13.5rem min(4.5rem, 4.5vh);
}

.footer .footer-content .footer-grid {
  display: flex;
  justify-content: space-between;
}

/* disclaimer  */
.footer .footer-content .footer-grid .footer-disclaimer {
  margin-right: 5rem;
  display: grid;
  gap: 1.3rem;
}

.footer .footer-content .footer-grid .footer-disclaimer__logo {
  width: 33rem;
  height: 5.5rem;
}

.footer .footer-content .footer-grid .footer-disclaimer__logo img {
  object-fit: contain;
}

.footer .footer-content .footer-grid .footer-disclaimer__text {
  color: #000;
  font-size: 2rem;
  font-weight: 300;
  line-height: 125%;
  width: 48rem;
}

/* columns  */
.footer .footer-content .footer-grid .footer-column {
  display: grid;
  gap: 3.5rem;
  align-content: start;
}

.footer .footer-content .footer-grid .footer-column__heading {
  color: #000;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 100%;
}

.footer .footer-content .footer-grid .footer-column__list {
  display: grid;
  gap: 1.4rem;
}

.footer .footer-content .footer-grid .footer-column__list li {
  color: #000;
  font-size: 2rem;
  font-weight: 300;
  line-height: 125%;
  cursor: pointer;
  transition: opacity 0.3s var(--ease);
}

@media (hover: hover) and (pointer: fine) {
  .footer .footer-content .footer-grid .footer-column__list li:hover,
  .footer .footer-content .footer-grid .footer-socials__link:hover {
    opacity: 0.6;
  }
}

.footer .footer-content .footer-grid .footer-socials {
  display: flex;
  gap: 2rem;
}

.footer .footer-content .footer-grid .footer-socials__link {
  width: 4rem;
  height: 4rem;
  transition: opacity 0.3s var(--ease);
}

.footer .footer-content .footer-backtotop.is--landscape {
  width: 9rem;
  height: 9rem;
  margin-left: auto;
  border-radius: 100%;
  display: block;
  transition: transform 0.3s var(--ease);
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
  .footer .footer-content .footer-backtotop.is--landscape:hover {
    transform: scale(0.95);
  }
}

.footer .footer-content .footer-backtotop.is--portrait {
  display: none;
}

.footer .footer-content .footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  background: rgba(0, 0, 0, 0.05);
  padding: 3.5rem;
  margin-top: 3.5rem;
}

.footer .footer-content .footer-copyright .footer-copyright__p {
  color: #000;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  line-height: normal;
}

@media (orientation: portrait) {
  .footer .footer-content {
    padding: 6rem 1.5rem 4rem;
  }

  .footer .footer-content .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: unset;
    gap: 2rem 1.8rem;
    width: 100%;
  }

  /* disclaimer  */
  .footer .footer-content .footer-grid .footer-disclaimer {
    margin-right: 0rem;
    width: 100%;
  }

  .footer .footer-content .footer-grid .footer-disclaimer__logo {
    width: 16.5rem;
    height: 2.5rem;
  }

  .footer .footer-content .footer-grid .footer-disclaimer__logo img {
    width: auto;
  }

  .footer .footer-content .footer-grid .footer-disclaimer__text {
    font-size: 1.2rem;
    width: 99%;
  }

  /* columns  */
  .footer .footer-content .footer-grid .footer-column {
    gap: 1.5rem;
  }

  .footer .footer-content .footer-grid .footer-column.is--quicklink {
    margin-top: 0.5rem;
    gap: 1.4rem;
  }

  .footer .footer-content .footer-grid .footer-column.is--socials {
    gap: 4rem;
    position: relative;
    grid-column: 1 / span 2;
  }

  .footer .footer-content .footer-grid .footer-column__heading {
    font-size: 1.8rem;
    font-weight: 500;
  }

  .footer .footer-content .footer-grid .footer-column__list {
    gap: 1rem;
  }

  .footer .footer-content .footer-grid .footer-column__list li {
    font-size: 1.4rem;
    word-break: break-all;
  }

  .footer .footer-content .footer-grid .footer-column.is--contact .footer-column__list li {
  }

  .footer .footer-content .footer-grid .footer-socials {
    gap: 1.5rem;
  }

  .footer .footer-content .footer-grid .footer-socials__link {
    width: 3rem;
    height: 3rem;
  }

  .footer .footer-content .footer-backtotop.is--landscape {
    display: none;
  }

  .footer .footer-content .footer-backtotop.is--portrait {
    display: block;
    width: 6.8rem;
    height: 6.8rem;
    margin-left: auto;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  .footer .footer-content .footer-copyright {
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 2.5rem;
  }

  .footer .footer-content .footer-copyright .footer-copyright__p {
    font-size: 1.2rem;
  }
}
