/* MODALS  */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  transition: 0.3s ease-out;
  z-index: 20;
  isolation: isolate;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  perspective: 1000px;
  backdrop-filter: blur(18.5px);
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(18.5px);
  -webkit-backdrop-filter: blur(18.5px);
}

.modal-wrapper[data-modal-open] {
  opacity: 1;
  visibility: visible;
}

.modal-wrapper[data-modal-open="newsletter"] .modal-newsletter {
  opacity: 1;
  visibility: visible;
  transform: scale(1) rotateX(0deg);
}

.modal-layer {
  position: absolute;

  z-index: -1;
  inset: 0;
}

@media screen and (orientation: portrait) {
  .modal-layer {
    background: rgba(0, 0, 0, 0.5);
  }
}

/* newsletter  */
.modal-newsletter {
  position: relative;
  padding: 1.2rem;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.5) rotateX(50deg);
  transition: 0.5s var(--ease);
  margin-top: min(10rem, 10vh);
}

.modal-newsletter::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 3rem;
  border: 0.5px solid #cde7ff88;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.modal-newsletter .modal-newsletter__inner {
  position: relative;
  padding: min(7rem, 7vh) 9.4rem min(4.5rem, 4.5vh);
  border-radius: 2.5rem;
  border: 1px solid rgba(246, 246, 246, 0.12);
  overflow: hidden;
  background: linear-gradient(181deg, #030e17 -1.34%, #000 96.4%);
  isolation: isolate;
}

.modal-newsletter__layer,
.modal-newsletter__pixels {
  position: absolute;
  width: 105%;
  height: 105%;
  object-fit: fill;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.modal-newsletter__pixels {
  z-index: 0;
}

@media screen and (orientation: portrait) {
  .modal-newsletter {
    border-radius: 1rem;
    padding: 0.8rem;
    width: calc(100% - 3rem);
    margin-top: 0;
  }

  .modal-newsletter::before {
    border-radius: 1rem;
  }

  .modal-newsletter .modal-newsletter__inner {
    padding: 2rem 3rem 9rem;
    border-radius: 0.8rem;
    border: 0.416px solid rgba(246, 246, 246, 0.12);
    background: linear-gradient(181deg, #030e17 -1.34%, #000 96.4%);
  }
}

.modal-newsletter .modal-newsletter__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transform: translate(100%, -50%);
  transition: 0.5s var(--ease);
}

.modal-newsletter .modal-newsletter__close:hover {
  transform: translate(100%, -50%) rotate(-90deg) scale(0.8);
}

@media screen and (orientation: portrait) {
  .modal-newsletter .modal-newsletter__close {
    position: absolute;
    top: 0rem;
    right: -1rem;
    width: 1.5rem;
    height: 1.5rem;
    transform: translate(0%, 0%);
  }

  .modal-newsletter .modal-newsletter__close:hover {
    transform: translate(0%, 0%) rotate(0deg) scale(1);
  }
}

.modal-newsletter .modal-newsletter__content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: min(2rem, 2vh);
  align-items: center;
  color: #fff;
}

.modal-newsletter .modal-newsletter__loop {
  height: min(18.9rem, 18.9vh);
  aspect-ratio: 1/1;
}

.modal-newsletter .modal-newsletter__heading {
  text-align: center;
  font-size: min(5rem, 5vh);
  font-weight: 400;
}

@media screen and (orientation: portrait) {
  .modal-newsletter .modal-newsletter__content {
    gap: 0;
  }

  .modal-newsletter .modal-newsletter__loop {
    height: min(15rem, 15vh);
    margin-bottom: min(2.5rem, 2.5vh);
    margin-top: min(7rem, 7vh);
    object-fit: contain;
  }

  .modal-newsletter .modal-newsletter__heading {
    font-size: min(3.5rem, 3.5vh);
    width: 26.7rem;
    line-height: 1;
    margin-bottom: min(7rem, 7vh);
  }
}

.modal-newsletter .modal-newsletter__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.modal-newsletter .modal-newsletter__label {
  font-size: min(2rem, 2vh);
  line-height: normal;
}

.modal-newsletter #email.modal-newsletter__input {
  padding: 1.5rem 2.8rem;
  border-radius: 12rem;
  color: #fff;
  font-size: min(2rem, 2vh);
  line-height: 0.9;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.modal-newsletter #email.modal-newsletter__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: min(2rem, 2vh);
  line-height: normal;
}

.modal-newsletter .modal-newsletter__submit {
  position: relative;
  padding: 1.5rem;
  width: 100%;
  isolation: isolate;
  margin-top: 1.5rem;
}

.modal-newsletter .modal-newsletter__submit .modal-newsletter__submit-bg {
  position: absolute;
  inset: 0;
  border-radius: 7.3rem;
  background: radial-gradient(36.92% 87.53% at 50% 0%, #39a3fe 0%, #3467d7 100%);
  z-index: -1;
  transition: 0.5s var(--ease);
  will-change: transform;
}

.modal-newsletter .modal-newsletter__submit:hover .modal-newsletter__submit-bg {
  transform: scale(0.98);
}

.modal-newsletter .modal-newsletter__submit .modal-newsletter__submit-text {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
}

@media screen and (orientation: portrait) {
  .modal-newsletter .modal-newsletter__form {
    gap: 1rem;
  }

  .modal-newsletter .modal-newsletter__label {
    font-size: min(1.4rem, 1.4vh);
  }

  .modal-newsletter #email.modal-newsletter__input {
    padding: 1.4rem 1.4rem;
    border-radius: 5rem;
    font-size: 1.2rem;
    border: 0.416px solid rgba(255, 255, 255, 0.2);
  }

  .modal-newsletter #email.modal-newsletter__input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.2rem;
  }

  .modal-newsletter .modal-newsletter__submit {
    padding: 1.3rem;
    margin-top: 1rem;
  }

  .modal-newsletter .modal-newsletter__submit .modal-newsletter__submit-bg {
    border-radius: 5.53rem;
    background: radial-gradient(36.92% 87.53% at 50% 0%, #39a3fe 0%, #3467d7 100%);
    border: 0.416px solid rgba(246, 246, 246, 0.12);
  }

  .modal-newsletter .modal-newsletter__submit:hover .modal-newsletter__submit-bg {
    transform: scale(1);
  }

  .modal-newsletter .modal-newsletter__submit .modal-newsletter__submit-text {
    font-size: 1.4rem;
  }
}

/* video  */
.modal-video {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: min(4.5rem, 4.5vh) 19rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s var(--ease);
  perspective: 1000px;
}

.modal-video .modal-video__inner {
  border-radius: 2rem;
  overflow: hidden;
  width: 100%;
  height: calc(100% - 10rem);
  position: relative;
  transition: 0.6s var(--ease);
  transform: scale(1.1) rotateX(50deg);
}

.modal-video .modal-video__inner video {
  object-fit: none;
}

.modal-video .modal-video__close {
  position: absolute;
  z-index: 1;
  top: 3rem;
  right: 3rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: 0.5s var(--ease);
}
.modal-video .modal-video__close:hover {
  transform: rotate(-90deg) scale(0.8);
}

@media screen and (orientation: portrait) {
  .modal-video {
    padding: 1.5rem;
  }
  .modal-video .modal-video__inner {
    border-radius: 0.5rem;
  }
  .modal-video .modal-video__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  .modal-video .modal-video__close:hover {
    transform: rotate(0deg) scale(1);
  }
}

.modal-wrapper[data-modal-open="video"] .modal-video {
  opacity: 1;
  visibility: visible;
}

.modal-wrapper[data-modal-open="video"] .modal-video__inner {
  transform: scale(1) rotateX(0deg);
}
