/* MODALS  */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  transition: 0.3s ease-out;
  z-index: 20;
  isolation: isolate;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  perspective: 1000px;
  backdrop-filter: blur(18.5px);
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(18.5px);
  -webkit-backdrop-filter: blur(18.5px);
}

.modal-wrapper[data-modal-open] {
  opacity: 1;
  visibility: visible;
}

.modal-wrapper[data-modal-open="newsletter"] .modal-newsletter {
  opacity: 1;
  visibility: visible;
  transform: scale(1) rotateX(0deg);
  display: block;
}

.modal-wrapper[data-modal-open="forbidden"] .modal-forbidden {
  opacity: 1;
  visibility: visible;
  transform: scale(1) rotateX(0deg);
  display: block;
}

.modal-layer {
  position: absolute;
  z-index: -1;
  inset: 0;
}

@media screen and (orientation: portrait) {
  .modal-layer {
    background: rgba(0, 0, 0, 0.5);
  }
}

/* ========== NEWSLETTER ========== */
.modal-newsletter,
.modal-forbidden {
  position: relative;
  padding: 1.2rem;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.5) rotateX(50deg);
  transition: 0.5s var(--ease);
  margin-top: min(10rem, 10vh);
  display: none;
}

.modal-newsletter::before,
.modal-forbidden::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 3rem;
  border: 0.5px solid #cde7ff88;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.modal-newsletter .modal-newsletter__inner,
.modal-forbidden .modal-forbidden__inner {
  position: relative;
  padding: min(7rem, 7vh) 9.4rem min(4.5rem, 4.5vh);
  border-radius: 2.5rem;
  border: 1px solid rgba(246, 246, 246, 0.12);
  overflow: hidden;
  background: linear-gradient(181deg, #030e17 -1.34%, #000 96.4%);
  isolation: isolate;
}

.modal-newsletter__layer,
.modal-newsletter__pixels,
.modal-forbidden__layer,
.modal-forbidden__pixels {
  position: absolute;
  width: 105%;
  height: 105%;
  object-fit: fill;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.modal-newsletter__pixels,
.modal-forbidden__pixels {
  z-index: 0;
}

@media screen and (orientation: portrait) {
  .modal-newsletter,
  .modal-forbidden {
    border-radius: 1rem;
    padding: 0.8rem;
    width: calc(100% - 3rem);
    max-height: calc(100% - 15rem);
  }

  .modal-newsletter::before,
  .modal-forbidden::before {
    border-radius: 1rem;
  }

  .modal-newsletter .modal-newsletter__inner,
  .modal-forbidden .modal-forbidden__inner {
    padding: min(2rem, 2rem) 3rem min(9rem, 9vh);
    border-radius: 0.8rem;
    border: 0.416px solid rgba(246, 246, 246, 0.12);
    background: linear-gradient(181deg, #030e17 -1.34%, #000 96.4%);
    height: 100%;
  }

  .modal-forbidden .modal-forbidden__inner {
    padding: min(2rem, 2rem) 1.5rem min(4rem, 4vh);
  }
}

@media screen and (min-width: 482px) and (max-width: 991px) and (orientation: portrait) {
  .modal-newsletter,
  .modal-forbidden {
    max-height: 70rem;
    max-width: 60%;
    margin-block: auto;
  }
}

.modal-newsletter .modal-newsletter__close,
.modal-forbidden .modal-forbidden__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transform: translate(100%, -50%);
  transition: 0.5s var(--ease);
}

@media screen and (max-width: 950px) and (orientation: landscape) {
  .modal-newsletter .modal-newsletter__inner,
  .modal-forbidden .modal-forbidden__inner {
    padding: min(4.5rem, 4.5vh) 9.4rem;
  }

  .modal-newsletter .modal-newsletter__close,
  .modal-forbidden .modal-forbidden__close {
    top: 1.5rem;
    right: -2rem;
  }
}

.modal-newsletter .modal-newsletter__close:hover,
.modal-forbidden .modal-forbidden__close:hover {
  transform: translate(100%, -50%) rotate(-90deg) scale(0.8);
}

@media screen and (orientation: portrait) {
  .modal-newsletter .modal-newsletter__close,
  .modal-forbidden .modal-forbidden__close {
    position: absolute;
    top: 0rem;
    right: -1rem;
    width: 1.5rem;
    height: 1.5rem;
    transform: translate(0%, 0%);
  }

  .modal-forbidden .modal-forbidden__close {
    top: 0rem;
    right: 0rem;
  }

  .modal-newsletter .modal-newsletter__close:hover,
  .modal-forbidden .modal-forbidden__close:hover {
    transform: translate(0%, 0%) rotate(0deg) scale(1);
  }
}

.modal-newsletter .modal-newsletter__content,
.modal-forbidden .modal-forbidden__content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: min(2rem, 2vh);
  align-items: center;
  color: #fff;
}

.modal-newsletter .modal-newsletter__loop,
.modal-forbidden .modal-forbidden__loop {
  height: min(17rem, 17vh);
  aspect-ratio: 1/1;
}

.modal-newsletter .modal-newsletter__heading,
.modal-forbidden .modal-forbidden__heading {
  text-align: center;
  font-size: min(5rem, 5vh);
  font-weight: 700;
}

.modal-forbidden .modal-forbidden__text {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: min(2rem, 2vh);
  width: min(58rem, 58vh);
}

.modal-forbidden .forbidden-buttons {
  display: flex;
  gap: 1.5rem;
  margin-top: min(3rem, 3vh);
  width: 100%;
}

.modal-forbidden .forbidden-buttons .forbidden-cta-button {
  flex-grow: 1;
  height: auto;
}

.cta-button-1__text.is--leave::after {
  content: attr(data-text-l);
}

.cta-button-1__text.is--continue::after {
  content: attr(data-text-l);
}

@media screen and (orientation: portrait) {
  .modal-newsletter .modal-newsletter__content,
  .modal-forbidden .modal-forbidden__content {
    gap: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .modal-newsletter .modal-newsletter__loop,
  .modal-forbidden .modal-forbidden__loop {
    height: min(15rem, 15vh);
    margin-bottom: min(2.5rem, 2.5vh);
    margin-top: min(2rem, 2vh);
    object-fit: contain;
  }

  .modal-newsletter .modal-newsletter__heading,
  .modal-forbidden .modal-forbidden__heading {
    font-size: min(2.5rem, 2.5vh);
    width: 100%;
    line-height: 1;
    margin-bottom: min(1rem, 1vh);
  }

  .modal-forbidden .modal-forbidden__text {
    font-size: 1rem;
    width: 90%;
  }

  .modal-forbidden .forbidden-buttons {
    gap: 1.5rem;
    flex-direction: row-reverse;
  }

  .modal-forbidden .forbidden-buttons .forbidden-cta-button {
    flex-grow: 1;
    padding: 1rem 1.4rem;
    height: 3rem;
    gap: 0.6rem;
  }

  .modal-forbidden .forbidden-buttons .forbidden-cta-button .cta-button-1__text {
    font-size: 1.2rem;
  }

  .cta-button-1__text.is--leave::after {
    content: attr(data-text-p);
  }

  .cta-button-1__text.is--continue::after {
    content: attr(data-text-p);
  }
}

.modal-newsletter .modal-newsletter__form,
.modal-newsletter .modal-newsletter__form-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

[data-error-message] {
  font-size: 2rem;
  color: rgb(225, 59, 59);
}

[data-form-status-message="error"],
[data-form-status-message="success"] {
  font-size: 2rem;
  text-align: center;
}

@media screen and (orientation: portrait) {
  [data-error-message],
  [data-form-status-message="error"],
  [data-form-status-message="success"] {
    font-size: 1rem;
  }
}

.modal-newsletter .modal-newsletter__label {
  font-size: min(2rem, 2vh);
  line-height: normal;
}

.modal-newsletter #email.modal-newsletter__input {
  padding: 1.5rem 2.8rem;
  border-radius: 12rem;
  color: #fff;
  font-size: min(2rem, 2vh);
  line-height: 0.9;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.modal-newsletter #email.modal-newsletter__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: min(2rem, 2vh);
  line-height: normal;
}

.modal-newsletter .modal-newsletter__submit {
  position: relative;
  padding: 1.5rem;
  width: 100%;
  isolation: isolate;
  margin-top: 1.5rem;
}

.modal-newsletter .modal-newsletter__submit[data-loading="true"] .submit-loader {
  opacity: 1;
}

.modal-newsletter .modal-newsletter__submit[data-loading="true"] .modal-newsletter__submit-text {
  opacity: 0;
}

.modal-newsletter .submit-loader {
  width: 4rem;
  height: 4rem;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
  grid-area: stack;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}

@media screen and (orientation: portrait) {
  .modal-newsletter .submit-loader {
    width: 2rem;
    height: 2rem;
  }
}

.modal-newsletter .submit-loader circle {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

.modal-newsletter .modal-newsletter__submit .modal-newsletter__submit-bg {
  position: absolute;
  inset: 0;
  border-radius: 7.3rem;
  background: radial-gradient(36.92% 87.53% at 50% 0%, #39a3fe 0%, #3467d7 100%);
  z-index: -1;
  transition: 0.5s var(--ease);
  will-change: transform;
}

.modal-newsletter .modal-newsletter__submit:hover .modal-newsletter__submit-bg {
  transform: scale(0.98);
}

.modal-newsletter .modal-newsletter__submit .modal-newsletter__submit-text {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
}

@media screen and (orientation: portrait) {
  .modal-newsletter .modal-newsletter__form,
  .modal-newsletter .modal-newsletter__form-group {
    gap: 1rem;
  }

  .modal-newsletter .modal-newsletter__label {
    font-size: min(1.4rem, 1.4vh);
  }

  .modal-newsletter #email.modal-newsletter__input {
    padding: 1.4rem 1.4rem;
    border-radius: 5rem;
    font-size: 1.2rem;
    border: 0.416px solid rgba(255, 255, 255, 0.2);
  }

  .modal-newsletter #email.modal-newsletter__input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.2rem;
  }

  .modal-newsletter .modal-newsletter__submit {
    padding: 1.3rem;
    margin-top: 1rem;
  }

  .modal-newsletter .modal-newsletter__submit .modal-newsletter__submit-bg {
    border-radius: 5.53rem;
    background: radial-gradient(36.92% 87.53% at 50% 0%, #39a3fe 0%, #3467d7 100%);
    border: 0.416px solid rgba(246, 246, 246, 0.12);
  }

  .modal-newsletter .modal-newsletter__submit:hover .modal-newsletter__submit-bg {
    transform: scale(1);
  }

  .modal-newsletter .modal-newsletter__submit .modal-newsletter__submit-text {
    font-size: 1.4rem;
  }
}

/* ========== VIDEO ========== */
.modal-video {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: min(4.5rem, 4.5vh) 19rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s var(--ease);
  perspective: 1000px;
}

.modal-video .modal-video__inner {
  border-radius: 2rem;
  overflow: hidden;
  width: 100%;
  height: calc(100% - 10rem);
  position: relative;
  transition: 0.6s var(--ease);
  transform: scale(1.1);
  aspect-ratio: 1.77;
}

.modal-video .modal-video__inner iframe {
  pointer-events: auto;
}

.modal-video .modal-video__inner video {
}

.modal-video .modal-video__close {
  position: absolute;
  z-index: 23;
  top: 3rem;
  right: 3rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: 0.5s var(--ease);
}
.modal-video .modal-video__close:hover {
  transform: rotate(-90deg) scale(0.8);
}

.modal-video .modal-video__loader {
  width: 10rem;
  height: 10rem;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.modal-video .modal-video__loader circle {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

@media screen and (orientation: portrait) {
  .modal-video {
    padding: 1.5rem;
    align-items: center;
  }
  .modal-video .modal-video__inner {
    border-radius: 0.5rem;
    height: 20rem;
  }
  .modal-video .modal-video__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  .modal-video .modal-video__close:hover {
    transform: rotate(0deg) scale(1);
  }
}

.modal-wrapper[data-modal-open="video"] .modal-video {
  opacity: 1;
  visibility: visible;
}

.modal-wrapper[data-modal-open="video"] .modal-video__inner {
  transform: scale(1) rotateX(0deg);
}

/* vimeo lightbox  */
.vimeo-lightbox {
  pointer-events: none;
  justify-content: center;
  align-items: center;
  display: flex;
  /* position: relative; */
  inset: 0;
  overflow: hidden;
}

.vimeo-lightbox__calc {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  inset: 0;
}

.vimeo-lightbox__calc-wrap {
  width: 100%;
  position: relative;
}

/* Cover */
.vimeo-lightbox[data-vimeo-update-size="cover"] .vimeo-lightbox__calc-wrap {
  height: 100%;
}

.vimeo-lightbox[data-vimeo-update-size="cover"] [data-vimeo-lightbox-player] {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

.vimeo-lightbox__player {
  pointer-events: auto;
  color: #efeeec;
  isolation: isolate;
  background-color: #131313;
  border-radius: 1em;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.625, 0.05, 0, 1);
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9) rotate(0.001deg) translateX(0);
}

.vimeo-lightbox[data-vimeo-activated="true"] .vimeo-lightbox__player {
  opacity: 1;
  visibility: visible;
  transform: scale(1) rotate(0.001deg) translateX(0);
}

.vimeo-lightbox__before {
  padding-top: 62.5%;
}

/* Dark BG */
.vimeo-lightbox__bg {
  pointer-events: auto;
  background-color: #131313;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s cubic-bezier(0.625, 0.05, 0, 1);
  opacity: 0;
  visibility: hidden;
}

.vimeo-lightbox[data-vimeo-activated="loading"] .vimeo-lightbox__bg,
.vimeo-lightbox[data-vimeo-activated="true"] .vimeo-lightbox__bg {
  opacity: 1;
  visibility: visible;
}

/* Close Button */
.vimeo-lightbox__close {
  z-index: 600;
  pointer-events: auto;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  display: flex;
  position: absolute;
  top: 2.5vw;
  right: 2.5vw;
  transition: all 0.5s cubic-bezier(0.625, 0.05, 0, 1);
  opacity: 0;
  visibility: hidden;
}

.vimeo-lightbox[data-vimeo-activated="true"] .vimeo-lightbox__close {
  opacity: 1;
  visibility: visible;
}

.vimeo-lightbox__close-bar {
  background-color: currentColor;
  width: 1em;
  height: 0.125em;
  position: absolute;
  transform: rotate(-45deg);
}

.vimeo-lightbox__close-bar.is--duplicate {
  transform: rotate(45deg);
}

.vimeo-lightbox__iframe {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* Loading */
.vimeo-lightbox__loading {
  pointer-events: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s linear;
  display: flex;
  position: absolute;
  opacity: 0;
}

.vimeo-lightbox__loading-svg {
  color: #2699fe;
  width: 6rem;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vimeo-lightbox[data-vimeo-playing="true"] .vimeo-lightbox__loading {
  opacity: 1;
}

.vimeo-lightbox[data-vimeo-playing="true"][data-vimeo-loaded="true"] .vimeo-lightbox__loading {
  opacity: 0;
}

/* Dark (Overlay) */
.vimeo-lightbox__dark {
  opacity: 0.5;
  pointer-events: none;
  background-color: #131313;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s linear;
  position: absolute;
}

.vimeo-lightbox[data-vimeo-playing="false"] .vimeo-lightbox__dark {
  opacity: 0.33;
}

.vimeo-lightbox[data-vimeo-activated="false"][data-vimeo-playing="false"] .vimeo-lightbox__dark {
  opacity: 0;
}

.vimeo-lightbox[data-vimeo-activated="true"][data-vimeo-loaded="true"] .vimeo-lightbox__dark {
  opacity: 0;
}

@media (hover: hover) and (pointer: fine) {
  .vimeo-lightbox[data-vimeo-hover="true"]:hover .vimeo-lightbox__dark {
    opacity: 0.33 !important;
  }
}

/* Placeholder */
.vimeo-lightbox__placeholder {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s linear;
  display: block;
  position: absolute;
}

.vimeo-lightbox[data-vimeo-loaded="true"] .vimeo-lightbox__placeholder {
  opacity: 0;
}

.vimeo-lightbox__play,
.vimeo-lightbox__pause {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
}

.vimeo-lightbox__btn {
  -webkit-backdrop-filter: blur(1em);
  backdrop-filter: blur(1em);
  background-color: #64646433;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 6em;
  height: 6em;
  transition: opacity 0.3s linear;
  display: flex;
  position: relative;
}

.vimeo-lightbox__btn-play-svg {
  width: 40%;
}

.vimeo-lightbox__btn-pause-svg {
  width: 50%;
}

/* Pause */
.vimeo-lightbox .vimeo-lightbox__pause {
  display: none;
}

.vimeo-lightbox[data-vimeo-playing="true"] .vimeo-lightbox__pause {
  display: flex;
}

.vimeo-lightbox .vimeo-lightbox__pause .vimeo-lightbox__btn {
  opacity: 0;
}

.vimeo-lightbox[data-vimeo-activated="true"][data-vimeo-playing="false"] .vimeo-lightbox__pause .vimeo-lightbox__btn,
.vimeo-lightbox[data-vimeo-activated="true"][data-vimeo-hover="true"]:hover .vimeo-lightbox__pause .vimeo-lightbox__btn {
  opacity: 1;
}

@media (hover: none) and (pointer: coarse) {
  .vimeo-lightbox[data-vimeo-activated="true"][data-vimeo-playing="true"] .vimeo-lightbox__pause .vimeo-lightbox__btn {
    opacity: 0 !important;
  }
}

/* Play */
.vimeo-lightbox[data-vimeo-playing="true"] .vimeo-lightbox__play {
  opacity: 0;
}

/* Interface - Variables */
.vimeo-lightbox {
  --timeline-rounded-corners: 1.5em;
  --timeline-dot-height: 0.75em;
  --timeline-dot-color: #2699fe;
  --progress-bg: rgba(239, 238, 236, 0.2);
  --progress-fill-bg: #2699fe;
  --progress-height: 0.2em;
}

.vimeo-lightbox__interface {
  pointer-events: none;
  flex-flow: column;
  justify-content: flex-end;
  align-items: stretch;
  width: 100%;
  height: 100%;
  padding: min(2em, 4vw);
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  display: flex;
  position: absolute;
  opacity: 0;
}

.vimeo-lightbox[data-vimeo-activated="false"][data-vimeo-playing="false"] .vimeo-lightbox__interface {
  opacity: 1;
}

.vimeo-lightbox .vimeo-lightbox__interface * {
  pointer-events: all; /* Make children of div clickable by user */
}

.vimeo-lightbox[data-vimeo-activated="true"][data-vimeo-playing="false"] .vimeo-lightbox__interface,
.vimeo-lightbox[data-vimeo-activated="true"][data-vimeo-hover="true"]:hover .vimeo-lightbox__interface {
  opacity: 1;
}

@media (hover: none) and (pointer: coarse) {
  .vimeo-lightbox[data-vimeo-activated="true"][data-vimeo-playing="true"] .vimeo-lightbox__interface {
    opacity: 0 !important;
  }
}

.vimeo-lightbox__interface-bottom {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

/* Interface - Timeline */
.vimeo-lightbox__timeline {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 1.5em;
  display: flex;
  position: relative;
}

.vimeo-lightbox__timeline-input {
  pointer-events: auto;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background-color: #0000;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.vimeo-lightbox__timeline-progress {
  vertical-align: top;
  -webkit-appearance: none;
  appearance: none;
  height: var(--progress-height);
  border-radius: var(--timeline-rounded-corners);
  color: var(--progress-fill-bg);
  background-color: #0000;
  border: none;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  overflow: hidden;
}

.vimeo-lightbox progress::-webkit-progress-bar {
  border-radius: var(--timeline-rounded-corners);
  background-color: var(--progress-bg);
  box-shadow: 0;
}

.vimeo-lightbox progress::-webkit-progress-value {
  background: var(--progress-fill-bg);
}

.vimeo-lightbox progress::-moz-progress-bar {
  border-radius: var(--timeline-rounded-corners);
  background: var(--progress-fill-bg);
  box-shadow: 0;
}

.vimeo-lightbox progress::-ms-fill {
  border-radius: var(--timeline-rounded-corners);
}

/* Interface - Range */
.vimeo-lightbox [type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.vimeo-lightbox [type="range"]:focus {
  outline: none;
}

.vimeo-lightbox [type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}

.vimeo-lightbox [type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: var(--progress-height);
  cursor: pointer;
  background-color: var(--progress-bg);
  border-radius: var(--timeline-rounded-corners);
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}

.vimeo-lightbox [type="range"]::-webkit-slider-thumb {
  box-shadow: 0;
  height: var(--timeline-dot-height);
  width: var(--timeline-dot-height);
  border-radius: var(--timeline-rounded-corners);
  background-color: var(--timeline-dot-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: calc((var(--progress-height) / 2) - (var(--timeline-dot-height) / 2));
}

.vimeo-lightbox [type="range"]::-webkit-slider-runnable-track,
.vimeo-lightbox [type="range"]:focus::-webkit-slider-runnable-track {
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}

.vimeo-lightbox [type="range"]::-moz-range-track {
  width: 100%;
  height: var(--progress-height);
  cursor: pointer;
  background: var(--progress-bg);
  border-radius: 0;
  border: 0;
  border-radius: var(--timeline-rounded-corners);
  overflow: hidden;
  opacity: 1 !important;
}

.vimeo-lightbox [type="range"]::-moz-range-thumb {
  box-shadow: 0;
  border: 0;
  height: var(--timeline-dot-height);
  width: var(--timeline-dot-height);
  border-radius: var(--timeline-rounded-corners);
  background: var(--timeline-dot-color);
  cursor: pointer;
  box-shadow: 0;
}

/* Interface - Duration */
.vimeo-lightbox__duration {
  flex-shrink: 0;
  width: 2.25em;
}

.vimeo-lightbox__duration-span {
  text-align: center;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  display: block;
}

/* Interface - Mute */
.vimeo-lightbox__mute {
  cursor: pointer;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  position: relative;
}

.vimeo-lightbox__volume-up-svg {
  width: 100%;
  position: absolute;
}

.vimeo-lightbox__volume-mute-svg {
  width: 100%;
  position: absolute;
}

.vimeo-lightbox .vimeo-lightbox__mute svg:nth-child(2),
.vimeo-lightbox[data-vimeo-muted="true"] .vimeo-lightbox__mute svg:nth-child(1) {
  display: none;
}

.vimeo-lightbox .vimeo-lightbox__mute svg:nth-child(1),
.vimeo-lightbox[data-vimeo-muted="true"] .vimeo-lightbox__mute svg:nth-child(2) {
  display: block;
}

/* Interface - Fullscreen */
.vimeo-lightbox__fullscreen {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  position: relative;
}

.vimeo-lightbox__fullscreen-scale-svg {
  width: 100%;
  position: absolute;
}

.vimeo-lightbox__fullscreen-shrink-svg {
  width: 100%;
  position: absolute;
}

.vimeo-lightbox .vimeo-lightbox__fullscreen svg:nth-child(2),
.vimeo-lightbox[data-vimeo-fullscreen="true"] .vimeo-lightbox__fullscreen svg:nth-child(1) {
  display: none;
}

.vimeo-lightbox .vimeo-lightbox__fullscreen svg:nth-child(1),
.vimeo-lightbox[data-vimeo-fullscreen="true"] .vimeo-lightbox__fullscreen svg:nth-child(2) {
  display: block;
}

.modal-video__rotation {
  display: none;
}

@media (orientation: portrait) {
  .modal-video__rotation {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -5rem);
    width: 4rem;
    height: 4rem;
  }
}
