/* ========================================
   NAVBAR STYLES
======================================== */

/* ========== NAVBAR ========== */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4.5rem 5rem;
  z-index: 10;
}

.navbar .navbar-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navbar .navbar-inner .navbar-logo {
  height: 4.7rem;
  width: 27.5rem;
  cursor: pointer;
}

.navbar .navbar-inner .navbar-logo img {
  transition: all 0.2s ease-out;
}

.navbar .navbar-inner .navbar-logo:hover img {
  transform: scale(0.97);
}

/* center  */
.navbar .navbar-inner .navbar-center {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.8rem;
  border-radius: 10rem;
  border: 1px solid #ffffff4f;
  background: rgba(250, 250, 250, 0.04);
  box-shadow: 0 0 47.5px 0 rgba(102, 102, 102, 0.04);
  backdrop-filter: blur(9.75px);
  -webkit-backdrop-filter: blur(9.75px);
}

.navbar .navbar-inner .navbar-center .navbar-center-list {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar .navbar-inner .navbar-center .navbar-center-list-item {
  position: relative;
  padding: 1.5rem 2.5rem;
  border-radius: 3rem;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 72.4px 0 rgba(15, 17, 16, 0.1);
  backdrop-filter: blur(96.19999694824219px);
  -webkit-backdrop-filter: blur(96.19999694824219px);
  cursor: pointer;
  transition: var(--transition);
  overflow: hidden;
  isolation: isolate;
}

.navbar .navbar-inner .navbar-center .navbar-center-list-item::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: radial-gradient(90.43% 90.43% at 50% 51.06%, rgba(38, 153, 254, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(255, 255, 255, 0.05);
  opacity: 0;
  transition: var(--transition);
}

.navbar .navbar-inner .navbar-center .navbar-center-list-item.is--active {
  color: #2699fe;
}

.navbar .navbar-inner .navbar-center .navbar-center-list-item.is--active::before {
  opacity: 1;
}

/* hover states  */
.navbar .navbar-inner .navbar-center .navbar-center-list:hover .navbar-center-list-item {
  color: #fff;
}
.navbar .navbar-inner .navbar-center .navbar-center-list:hover .navbar-center-list-item::before {
  opacity: 0;
}
.navbar .navbar-inner .navbar-center .navbar-center-list:hover .navbar-center-list-item:hover {
  color: #2699fe;
}
.navbar .navbar-inner .navbar-center .navbar-center-list:hover .navbar-center-list-item:hover::before {
  opacity: 1;
}

/* right  */
.navbar .navbar-inner .navbar-right {
  display: flex;
  gap: 1rem;
  padding: 0.8rem;
  border-radius: 10rem;
  align-items: center;
  border-radius: 10rem;
  border: 1px solid #ffffff4f;
  background: rgba(250, 250, 250, 0.04);
  box-shadow: 0 0 47.5px 0 rgba(102, 102, 102, 0.04);
  backdrop-filter: blur(9.75px);
  -webkit-backdrop-filter: blur(9.75px);
}

.navbar .navbar-inner .navbar-right .navbar-price {
  display: flex;
  gap: 0.9rem;
  align-items: center;
  justify-content: center;
  padding: 1rem 2.5rem;
  border-radius: 2.5rem;
  background: radial-gradient(90.43% 90.43% at 50% 51.06%, rgba(38, 153, 254, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(255, 255, 255, 0.05);
  cursor: pointer;
  transition: var(--transition);
}

.navbar .navbar-inner .navbar-right .navbar-price:hover {
  opacity: 0.8;
}

.navbar .navbar-inner .navbar-right .navbar-price__icon {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}

.navbar .navbar-inner .navbar-right .navbar-price__text {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
}

.navbar .navbar-inner .navbar-right .navbar-price__text span {
  color: #2699fe;
  margin-left: 0.5rem;
}
