/* ========== PRESALE ========== */
.presale {
  padding: 5rem 5rem 10rem;
  display: flex;
  gap: 10rem;
  position: relative;
}

.presale .presale-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: auto;
  transform: scale(-1);
  mask-image: linear-gradient(black 90%, transparent);
}

.presale .presale-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 66.4rem;
}

.presale-content .presale-heading {
  color: #fff;
  font-size: 6.5rem;
  font-weight: 700;
  line-height: 105%;
  margin-bottom: 0.8rem;
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
  .presale-content .presale-heading {
    font-size: 5.5rem;
  }
}

.presale-content .presale-description,
.presale-content .presale-subheading {
  color: #fff;
  font-size: 2rem;
  font-style: normal;
  font-weight: 200;
  line-height: 130%;
  width: 53rem;
  margin-bottom: 3rem;
}

.presale-content .presale-subheading {
  font-weight: 500;
  margin-bottom: 4rem;
}

.presale .presale-content .presale-tagline {
  margin-bottom: 2rem;
}

/* media container  */
.presale .presale-media__container {
  width: 90rem;
  height: 54rem;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.presale .presale-media__container .presale-media__wrapper {
  position: absolute;
  inset: 0;
}

.presale .presale-media__container .presale-media__video {
  position: absolute;
  inset: 0;
  will-change: transform;
  z-index: 1;
  border-radius: 2rem;
}

.presale .presale-cta-button.cta-button-1 {
  width: fit-content;
}

@media screen and (orientation: portrait) {
  .presale {
    padding: 5rem 1.5rem 5rem;
    flex-direction: column-reverse;
    gap: 5.5rem;
  }

  .presale .presale-background {
    display: none;
  }

  .presale .presale-content {
    align-items: center;
    width: 100%;
  }

  .presale-content .presale-heading {
    font-size: 3rem;
    margin-bottom: 0.7rem;
  }

  .presale-content .presale-description,
  .presale-content .presale-subheading {
    font-size: 1.4rem;
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
  }

  .presale-content .presale-subheading {
    margin-bottom: 2rem;
  }

  .presale .presale-media__container {
    height: 20rem;
    border-radius: 0.5rem;
    width: 100%;
  }

  .presale .presale-media__container .presale-media__video {
    border-radius: 0.5rem;
  }

  .presale .presale-cta-button.cta-button-1 {
    margin-inline: auto;
  }
}

@media (max-width: 950px) and (orientation: landscape) {
  .presale .presale-media__container {
    height: min(86rem, 86vh);
  }
}

@media screen and (min-width: 482px) and (max-width: 991px) and (orientation: portrait) {
  .presale .presale-content .presale-description {
    width: 70%;
  }
}

@media screen and (min-width: 482px) and (max-width: 991px) and (orientation: portrait) {
  .presale .presale-media__container {
    aspect-ratio: 1.7;
    height: auto;
  }
}
