/* ========== REAL ========== */
.real {
  position: relative;
  width: 100%;
  padding-block: min(17.5rem, 17.5vh) min(7.5rem, 7.5vh);
  padding-block: min(10.5rem, 10.5vh) min(7.5rem, 7.5vh);
  isolation: isolate;
}

.real-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  mask-image: linear-gradient(black 85%, transparent);
}

.real .real-bg {
  position: absolute;
  inset: 0;
  z-index: -1;
  mask-image: linear-gradient(transparent, black 10%);
}

@media screen and (orientation: portrait) {
  .real {
    padding-block: 10rem 5rem;
    padding-block: 10rem 5rem;

    padding-inline: 1.5rem;
  }
  .real .real-bg,
  .real-blur {
    display: none;
  }
}

/* content  */
.real .real-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(148rem, 148vh);
  margin-inline: auto;
}

.real .real-content .real-tagline.tagline {
  margin-bottom: min(3.4rem, 3.4vh);
}

.real .real-content .real-description {
  margin-bottom: min(8.4rem, 8.4vh);
  text-align: center;
  font-weight: 700;
  text-align: center;
  font-size: min(6rem, 6vh);
  text-align: center;
}

.real .real-content .real-description span:nth-of-type(2) {
  font-weight: 700;
  background: linear-gradient(90deg, rgba(153, 153, 153, 0.6) 5.77%, rgba(255, 255, 255, 0.6) 53.26%, rgba(153, 153, 153, 0.6) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.real .real-content .real-heading {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}

@media screen and (orientation: portrait) {
  .real .real-content {
    width: 100%;
  }

  .real .real-content .real-tagline.tagline {
    margin-bottom: 3rem;
  }

  .real .real-content .real-description {
    font-size: 2.5rem;
    margin-bottom: 3.4rem;
  }

  .real .real-content .real-heading {
    font-size: 2rem;
    text-align: center;
    width: 50%;
  }
}

@media screen and (min-width: 482px) and (max-width: 991px) and (orientation: portrait) {
  .real .real-content .real-description {
    width: 70%;
  }
}
