/* ========== ROADMAP ========== */
.roadmap {
  width: 100%;
  padding-block: min(10.5rem, 10.5vh) min(5rem, 5vh);
  padding-inline: 5rem;
  margin-top: 3rem;
}

@media screen and (orientation: portrait) {
  .roadmap {
    height: fit-content;
    padding-block: min(10rem, 10vh) min(10rem, 10vh);
    padding-inline: 0;
    margin-top: 0;
  }
}

.roadmap .roadmap-header {
  display: flex;
  flex-direction: column;
  gap: min(3rem, 3vh);
  align-items: center;
  margin-bottom: min(8rem, 8vh);
}

.roadmap .roadmap-heading {
  color: #fff;
  text-align: center;
  font-size: 6.5rem;
  font-weight: 600;
  line-height: 100%;
}

.roadmap .roadmap-heading span {
  color: #2699fe;
  font-weight: inherit;
}

@media screen and (orientation: portrait) {
  .roadmap .roadmap-header {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    padding-inline: 1.5rem;
    align-items: center;
    margin-bottom: min(5rem, 5vh);
  }

  .roadmap .roadmap-heading {
    font-size: 3rem;
  }

  .roadmap .roadmap-heading span {
    font-weight: 700;
  }
}

@media screen and (min-width: 482px) and (max-width: 991px) and (orientation: portrait) {
  .roadmap .roadmap-heading {
    width: 100%;
  }
}

.roadmap .roadmap-swiper-container {
  width: 100%;
  position: relative;
}

@media screen and (max-width: 950px) and (orientation: landscape) {
}

.roadmap .roadmap-swiper-wrapper {
  display: flex;
  transition: var(--swiper-transition) !important;
  gap: 10rem;
  justify-content: space-between;
}

@media screen and (orientation: portrait) {
  .roadmap .roadmap-swiper-container {
    width: 100%;
    padding-inline: 1.5rem;
  }

  .roadmap .roadmap-swiper-wrapper {
    gap: 0;
    justify-content: unset;
  }
}

.roadmap .roadmap-swiper-slide {
  width: 36.7rem;
  height: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: min(3.5rem, 3.5vh);
}


@media (hover:hover) and (pointer: fine) {
  .roadmap .roadmap-swiper-slide:hover .roadmap-slide__number
  {
    transform: translateX(-1rem);
  }

  .roadmap .roadmap-swiper-slide:hover .roadmap-slide__bottom,
  .roadmap .roadmap-swiper-slide:hover .roadmap-slide__stage {
    transform: scale(1.05);

  }
}

.roadmap-swiper-slide .roadmap-slide__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.6s var(--ease);

}

.roadmap-swiper-slide .roadmap-slide__top .roadmap-slide__stage {
  border-radius: 1.5rem;
  border: 1px solid #ffffff05;
  background: radial-gradient(90.43% 90.43% at 50% 51.06%, rgba(38, 153, 254, 0.2) 15.38%, rgba(0, 0, 0, 0) 100%), rgba(250, 250, 250, 0.04);
  box-shadow: 0 0 47.5px 0 rgba(102, 102, 102, 0.04);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  color: #2699fe;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 90%;
  width: 19.5rem;
  height: 7rem;
  display: grid;
  transition: transform 0.6s var(--ease);
  place-items: center;
}

.roadmap-swiper-slide .roadmap-slide__top .roadmap-slide__number {
  width: 10.9rem;
  height: 10.9rem;
  flex-shrink: 0;
  transition: transform 0.6s var(--ease);


}

.roadmap-swiper-slide .roadmap-slide__bottom {
  padding: 4rem 2rem;
  border-radius: 1.5rem;
  border: 1px solid #ffffff05;
  background: rgba(250, 250, 250, 0.04);
  box-shadow: 0 0 47.5px 0 rgba(102, 102, 102, 0.04);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  flex-grow: 1;
  transition: transform 0.6s var(--ease);

}

.roadmap-swiper-slide .roadmap-slide__bottom .roadmap-slide__ul {
  display: grid;
  gap: 1rem;
}

.roadmap-swiper-slide .roadmap-slide__bottom .roadmap-slide__ul .roadmap-slide__li {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  list-style: disc;
  margin-left: 1.5rem;
}

.roadmap-swiper-slide .roadmap-slide__bottom .roadmap-slide__ul .roadmap-slide__li::marker {
  color: #2699fe;
  font-size: 1.3rem;
}

@media screen and (orientation: portrait) {
  .roadmap .roadmap-swiper-slide {
    width: auto;
    height: auto;
    max-width: 34.5rem;
  }

  .roadmap-swiper-slide .roadmap-slide__top .roadmap-slide__stage {
    border-radius: 1.4rem;
    font-size: 1.8rem;
    width: 18rem;
    height: 6.4rem;
  }

  .roadmap-swiper-slide .roadmap-slide__top .roadmap-slide__number {
    width: 10rem;
    height: 10rem;
  }

  .roadmap-swiper-slide .roadmap-slide__bottom {
    border-radius: 1.4rem;
  }

  .roadmap-swiper-slide .roadmap-slide__bottom .roadmap-slide__ul {
    gap: 1rem;
  }

  .roadmap-swiper-slide .roadmap-slide__bottom .roadmap-slide__ul .roadmap-slide__li {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 950px) and (orientation: landscape) {
  .roadmap .roadmap-swiper-slide {
  }
}

@media screen and (orientation: portrait) {
}

@media screen and (max-width: 950px) and (orientation: landscape) {
  .roadmap {
  }
}

.roadmap-swiper-navigation {
  position: absolute;
  top: -11rem;
  right: 5rem;
  z-index: 1;
  width: fit-content;
  padding-inline: 2rem;
  align-items: center;
  justify-content: space-between;
  display: none;
}

@media (orientation: portrait) {
  .roadmap-swiper-navigation {
    position: absolute;
    top: calc(100% + 4rem);
    left: 50%;
    z-index: 1;
    transform: translate(-50%, 0%);
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }
}
