/* ========== WHY ========== */
.why {
  width: 100%;
  padding-block: min(10.5rem, 10.5vh) min(13rem, 13vh);
  padding-inline: 10rem;
  position: relative;
}

.why .why-gradient {
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(11, 57, 100, 1) 0%, rgba(11, 57, 100, 1) 0%, rgba(255, 255, 255, 0) 60%);
  width: 100%;
  height: 180vh;
  transform: translateY(-50%);
  z-index: -1;
  user-select: none;
  pointer-events: none;
}

@media screen and (orientation: portrait) {
  .why {
    height: fit-content;
    padding-block: 5rem 8rem;
    padding-inline: 0;
  }
}

.why .why-header {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  align-items: center;
  margin-bottom: min(10rem, 10vh);
}

.why .why-heading {
  color: #fff;
  text-align: center;
  font-size: 6.5rem;
  font-weight: 600;
  line-height: 100%;
}

.why .why-header__p {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  line-height: 125%;
  width: 68.7rem;
}

@media screen and (orientation: portrait) {
  .why .why-header {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    padding-inline: 1.5rem;
    align-items: center;
    margin-bottom: min(5rem, 5vh);
  }

  .why .why-heading {
    font-size: 3.5rem;
  }

  .why .why-header__p {
    font-size: 1.4rem;
    width: 100%;
  }
}

@media screen and (min-width: 482px) and (max-width: 991px) and (orientation: portrait) {
  .why .why-heading {
    width: 100%;
  }
}

.why .why-swiper-container {
  width: 100%;
  position: relative;
}

.why .why-swiper-wrapper {
  display: flex;
  transition: var(--swiper-transition) !important;
  gap: 9rem;
  justify-content: center;
}

@media screen and (max-width: 950px) and (orientation: landscape) {
  .why .why-swiper-container {
  }
}

@media screen and (orientation: portrait) {
  .why .why-swiper-container {
    width: 100%;
    padding-inline: 1.5rem;
  }

  .why .why-swiper-wrapper {
    gap: 0;
    justify-content: unset;
  }
}

.why .why-swiper-slide {
  width: min(50rem, 50vh);
  height: min(61rem, 61vh);
  flex-shrink: 0;
  border-radius: 2.8rem;
  border: 1px solid #cde7ff28;
  position: relative;
  overflow: hidden;
}

.why .why-swiper-slide:not(:nth-child(2)) {
  transform: translateY(8rem);
}

@media screen and (orientation: portrait) {
  .why .why-swiper-slide {
    width: auto;
    height: 42rem;
    flex-shrink: 0;
    max-width: 34.5rem;
    border-radius: 1.6rem;
    border: 0.6px solid #cde7ff2f;
  }

  .why .why-swiper-slide:not(:nth-child(2)) {
    transform: translateY(0rem);
  }
}

@media screen and (max-width: 950px) and (orientation: landscape) {
  .why .why-swiper-slide {
    width: 30rem;
    height: 40.2rem;
  }
}

.why .why-card__inner {
  position: relative;
  border-radius: 2rem;
  padding: 5.5rem 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  isolation: isolate;
}

.why .why-card__bg {
  position: absolute;
  z-index: -1;
  inset: 0;
}

.why .why-card__content {
  margin-top: auto;
  /* height: 35%; */
}

.why .why-card__content .why-card__title {
  color: #fff;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0.8rem;
}

.why .why-card__content .why-card__text {
  color: #fff;
  font-size: 1.8rem;
  line-height: 120%; /* 21.6px */
}

@media screen and (orientation: portrait) {
  .why .why-card__inner {
    position: relative;
    border-radius: 1.3rem;
    padding: 4rem 3rem;
  }

  .why .why-card__bg {
  }

  .why .why-card__content .why-card__title {
    font-size: 2.5rem;
    margin-bottom: 0.3rem;
  }

  .why .why-card__content .why-card__text {
    font-size: 1.4rem;
    line-height: normal;
  }
}

@media screen and (max-width: 950px) and (orientation: landscape) {
  .why {
    padding: 5rem 0 10rem;
  }

  .why .why-card__inner {
    padding: 6.5rem 2rem min(6.5rem, 6.5vh) 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    isolation: isolate;
  }

  .why .why-card__content .why-card__title {
    font-size: 2rem;
  }

  .why .why-card__content .why-card__text {
    font-size: 1.5rem;
  }
}

.why-swiper-navigation {
  position: absolute;
  top: -11rem;
  right: 5rem;
  z-index: 1;
  width: fit-content;
  padding-inline: 2rem;
  align-items: center;
  justify-content: space-between;
  display: none;
}

@media (orientation: portrait) {
  .why-swiper-navigation {
    position: absolute;
    top: calc(100% + 4rem);
    left: 50%;
    z-index: 1;
    transform: translate(-50%, 0%);
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }
}

@media screen and (min-width: 482px) and (max-width: 991px) and (orientation: portrait) {
  .why .why-header {
    max-width: 40rem;
    margin-inline: auto;
  }
}
