/* ========== WHY ========== */
.why {
  width: 100%;
  padding-block: min(10.5rem, 10.5vh) 0;
  padding-inline: 19rem;
  position: relative;
}

.why .why-gradient {
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(11, 57, 100, 1) 0%, rgba(11, 57, 100, 1) 0%, rgba(255, 255, 255, 0) 60%);
  width: 100%;
  height: 180vh;
  transform: translateY(-50%);
  z-index: -1;
  user-select: none;
  pointer-events: none;
}

@media screen and (orientation: portrait) {
  .why {
    height: fit-content;
    padding-block: 5rem 8rem;
    padding-inline: 1.5rem;
  }
}

.why .why-header {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  align-items: center;
  margin-bottom: min(10rem, 10vh);
}

.why .why-heading {
  color: #fff;
  text-align: center;
  font-size: 6.5rem;
  font-weight: 600;
  line-height: 100%;
}

.why .why-header__p {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  line-height: 125%;
  width: 68.7rem;
}

@media screen and (orientation: portrait) {
  .why .why-header {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    padding-inline: 1.5rem;
    align-items: center;
    margin-bottom: min(5rem, 5vh);
  }

  .why .why-heading {
    font-size: 3.5rem;
  }

  .why .why-header__p {
    font-size: 1.4rem;
    width: 100%;
  }
}

@media screen and (min-width: 482px) and (max-width: 991px) and (orientation: portrait) {
  .why .why-heading {
    width: 100%;
  }
}

.why .why-swiper-container {
  width: 100%;
  position: relative;
  display: none;
}

.why .why-video {
  width: 100%;
  overflow: hidden;
  aspect-ratio: 16/9;
  border-radius: 2rem;
  position: relative;
}

.why .why-swiper-wrapper {
  display: flex;
  transition: var(--swiper-transition) !important;
  gap: 9rem;
  justify-content: center;
}

@media screen and (max-width: 950px) and (orientation: landscape) {
  .why .why-swiper-container {
  }
}

@media screen and (orientation: portrait) {
  .why .why-swiper-container {
    width: 100%;
    padding-inline: 1.5rem;
  }

  .why .why-swiper-wrapper {
    gap: 0;
    justify-content: unset;
  }
}

.why .why-swiper-slide {
  width: min(50rem, 50vh);
  height: min(61rem, 61vh);
  flex-shrink: 0;
  border-radius: 2.8rem;
  border: 1px solid #cde7ff28;
  position: relative;
  overflow: hidden;
}

.why .why-swiper-slide:not(:nth-child(2)) {
  transform: translateY(8rem);
}

@media screen and (orientation: portrait) {
  .why .why-swiper-slide {
    width: auto;
    height: 42rem;
    flex-shrink: 0;
    max-width: 34.5rem;
    border-radius: 1.6rem;
    border: 0.6px solid #cde7ff2f;
  }

  .why .why-swiper-slide:not(:nth-child(2)) {
    transform: translateY(0rem);
  }
}

@media screen and (max-width: 950px) and (orientation: landscape) {
  .why .why-swiper-slide {
    width: 30rem;
    height: 40.2rem;
  }
}

.why .why-card__inner {
  position: relative;
  border-radius: 2rem;
  padding: 5.5rem 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  isolation: isolate;
}

.why .why-card__bg {
  position: absolute;
  z-index: -1;
  inset: 0;
}

.why .why-card__content {
  margin-top: auto;
  /* height: 35%; */
}

.why .why-card__content .why-card__title {
  color: #fff;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0.8rem;
}

.why .why-card__content .why-card__text {
  color: #fff;
  font-size: 1.8rem;
  line-height: 120%; /* 21.6px */
}

@media screen and (orientation: portrait) {
  .why .why-card__inner {
    position: relative;
    border-radius: 1.3rem;
    padding: 4rem 3rem;
  }

  .why .why-card__bg {
  }

  .why .why-card__content .why-card__title {
    font-size: 2.5rem;
    margin-bottom: 0.3rem;
  }

  .why .why-card__content .why-card__text {
    font-size: 1.4rem;
    line-height: normal;
  }
}

@media screen and (max-width: 950px) and (orientation: landscape) {
  .why {
    padding: 5rem 0 10rem;
  }

  .why .why-card__inner {
    padding: 6.5rem 2rem min(6.5rem, 6.5vh) 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    isolation: isolate;
  }

  .why .why-card__content .why-card__title {
    font-size: 2rem;
  }

  .why .why-card__content .why-card__text {
    font-size: 1.5rem;
  }
}

.why-swiper-navigation {
  position: absolute;
  top: -11rem;
  right: 5rem;
  z-index: 1;
  width: fit-content;
  padding-inline: 2rem;
  align-items: center;
  justify-content: space-between;
  display: none;
}

@media (orientation: portrait) {
  .why-swiper-navigation {
    position: absolute;
    top: calc(100% + 4rem);
    left: 50%;
    z-index: 1;
    transform: translate(-50%, 0%);
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }
}

@media screen and (min-width: 482px) and (max-width: 991px) and (orientation: portrait) {
  .why .why-header {
    max-width: 40rem;
    margin-inline: auto;
  }
}

.vimeo-player {
  pointer-events: auto;
  color: #efeeec;
  isolation: isolate;
  background-color: #131313;
  border-radius: 1em;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  transform: translateX(0);
}

/* Cover */
.vimeo-player[data-vimeo-update-size="cover"] {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

.vimeo-player__iframe {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
}

.vimeo-player__before {
  padding-top: 62.5%;
}

/* Placeholder */
.vimeo-player__placeholder {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s linear;
  display: block;
  position: absolute;
}

.vimeo-player[data-vimeo-activated="true"][data-vimeo-loaded="true"] .vimeo-player__placeholder {
  opacity: 0;
}

/* Dark (Overlay) */
.vimeo-player__dark {
  opacity: 0.5;
  pointer-events: none;
  background-color: #131313;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s linear;
  position: absolute;
}

.vimeo-player[data-vimeo-playing="false"] .vimeo-player__dark {
  opacity: 0.33;
}

.vimeo-player[data-vimeo-activated="false"][data-vimeo-playing="false"] .vimeo-player__dark {
  opacity: 0;
}

.vimeo-player[data-vimeo-activated="true"][data-vimeo-loaded="true"] .vimeo-player__dark {
  opacity: 0;
}

@media (hover: hover) and (pointer: fine) {
  .vimeo-player[data-vimeo-hover="true"]:hover .vimeo-player__dark {
    opacity: 0.33 !important;
  }
}

/* Play/Pause */
.vimeo-player__play,
.vimeo-player__pause {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
}

.vimeo-player__btn {
  -webkit-backdrop-filter: blur(1em);
  backdrop-filter: blur(1em);
  background-color: #64646433;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 6em;
  height: 6em;
  transition: opacity 0.3s linear;
  display: flex;
  position: relative;
}

.vimeo-player__btn-play-svg {
  width: 40%;
}

.vimeo-player__btn-pause-svg {
  width: 50%;
}

/* Pause */
.vimeo-player .vimeo-player__pause {
  display: none;
}

.vimeo-player[data-vimeo-playing="true"] .vimeo-player__pause {
  display: flex;
}

.vimeo-player .vimeo-player__pause .vimeo-player__btn {
  opacity: 0;
}

.vimeo-player[data-vimeo-activated="true"][data-vimeo-playing="false"] .vimeo-player__pause .vimeo-player__btn,
.vimeo-player[data-vimeo-activated="true"][data-vimeo-hover="true"]:hover .vimeo-player__pause .vimeo-player__btn {
  opacity: 1;
}

@media (hover: none) and (pointer: coarse) {
  .vimeo-player[data-vimeo-activated="true"][data-vimeo-playing="true"] .vimeo-player__pause .vimeo-player__btn {
    opacity: 0 !important;
  }
}

/* Play */
.vimeo-player[data-vimeo-playing="true"] .vimeo-player__play {
  opacity: 0;
}

/* Loading */

.vimeo-player__loading-svg {
  width: 6em;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vimeo-player__loading {
  pointer-events: none;
  color: #2699FE;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s linear;
  display: flex;
  position: absolute;
  opacity: 0;
}

.vimeo-player[data-vimeo-playing="true"] .vimeo-player__loading {
  opacity: 1;
}

.vimeo-player[data-vimeo-playing="true"][data-vimeo-loaded="true"] .vimeo-player__loading {
  opacity: 0;
}

/* Interface */
.vimeo-player .vimeo-player__interface {
  opacity: 0;
}

.vimeo-player[data-vimeo-activated="false"][data-vimeo-playing="false"] .vimeo-player__interface {
  opacity: 1;
}

.vimeo-player .vimeo-player__interface * {
  pointer-events: all; /* Make children of div clickable by user */
}

.vimeo-player[data-vimeo-activated="true"][data-vimeo-playing="false"] .vimeo-player__interface,
.vimeo-player[data-vimeo-activated="true"][data-vimeo-hover="true"]:hover .vimeo-player__interface {
  opacity: 1;
}

@media (hover: none) and (pointer: coarse) {
  .vimeo-player[data-vimeo-activated="true"][data-vimeo-playing="true"] .vimeo-player__interface {
    opacity: 0 !important;
  }
}

/* Interface - Variables */
.vimeo-player {
  --timeline-rounded-corners: 1.5em;
  --timeline-dot-height: 0.75em;
  --timeline-dot-color: #2699FE;
  --progress-bg: rgba(239, 238, 236, 0.2);
  --progress-fill-bg: #2699FE;
  --progress-height: 0.2em;
}

.vimeo-player__interface {
  pointer-events: none;
  flex-flow: column;
  justify-content: flex-end;
  align-items: stretch;
  width: 100%;
  height: 100%;
  padding: min(2em, 4vw);
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  display: flex;
  position: absolute;
}

.vimeo-player__interface-bottom {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

/* Interface - Timeline */

.vimeo-player__timeline {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 1.5em;
  display: flex;
  position: relative;
}

.vimeo-player__timeline-input {
  pointer-events: auto;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background-color: #0000;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.vimeo-player__timeline-progress {
  vertical-align: top;
  -webkit-appearance: none;
  appearance: none;
  height: var(--progress-height);
  border-radius: var(--timeline-rounded-corners);
  color: var(--progress-fill-bg);
  background-color: #0000;
  border: none;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  overflow: hidden;
}

.vimeo-player progress::-webkit-progress-bar {
  border-radius: var(--timeline-rounded-corners);
  background-color: var(--progress-bg);
  box-shadow: 0;
}

.vimeo-player progress::-webkit-progress-value {
  background: var(--progress-fill-bg);
}

.vimeo-player progress::-moz-progress-bar {
  border-radius: var(--timeline-rounded-corners);
  background: var(--progress-fill-bg);
  box-shadow: 0;
}

.vimeo-player progress::-ms-fill {
  border-radius: var(--timeline-rounded-corners);
}

/* Interface - Range */
.vimeo-player [type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.vimeo-player [type="range"]:focus {
  outline: none;
}

.vimeo-player [type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}

.vimeo-player [type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: var(--progress-height);
  cursor: pointer;
  background-color: var(--progress-bg);
  border-radius: var(--timeline-rounded-corners);
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}

.vimeo-player [type="range"]::-webkit-slider-thumb {
  box-shadow: 0;
  height: var(--timeline-dot-height);
  width: var(--timeline-dot-height);
  border-radius: var(--timeline-rounded-corners);
  background-color: var(--timeline-dot-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: calc((var(--progress-height) / 2) - (var(--timeline-dot-height) / 2));
}

.vimeo-player [type="range"]::-webkit-slider-runnable-track,
.vimeo-player [type="range"]:focus::-webkit-slider-runnable-track {
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}

.vimeo-player [type="range"]::-moz-range-track {
  width: 100%;
  height: var(--progress-height);
  cursor: pointer;
  background: var(--progress-bg);
  border-radius: 0;
  border: 0;
  border-radius: var(--timeline-rounded-corners);
  overflow: hidden;
  opacity: 1 !important;
}

.vimeo-player [type="range"]::-moz-range-thumb {
  box-shadow: 0;
  border: 0;
  height: var(--timeline-dot-height);
  width: var(--timeline-dot-height);
  border-radius: var(--timeline-rounded-corners);
  background: var(--timeline-dot-color);
  cursor: pointer;
  box-shadow: 0;
}

/* Interface - Mute */

.vimeo-player__mute {
  cursor: pointer;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  position: relative;
}

.vimeo-player__volume-up-svg,
.vimeo-player__volume-mute-svg {
  width: 100%;
  position: absolute;
}

.vimeo-player .vimeo-player__mute svg:nth-child(2),
.vimeo-player[data-vimeo-muted="true"] .vimeo-player__mute svg:nth-child(1) {
  display: none;
}

.vimeo-player .vimeo-player__mute svg:nth-child(1),
.vimeo-player[data-vimeo-muted="true"] .vimeo-player__mute svg:nth-child(2) {
  display: block;
}

/* Interface - Fullscreen */
.vimeo-player__fullscreen {
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  position: relative;
  cursor: pointer;
}

.vimeo-player__fullscreen-scale-svg,
.vimeo-player__fullscreen-shrink-svg {
  width: 100%;
  position: absolute;
}

.vimeo-player .vimeo-player__fullscreen svg:nth-child(2),
.vimeo-player[data-vimeo-fullscreen="true"] .vimeo-player__fullscreen svg:nth-child(1) {
  display: none;
}

.vimeo-player .vimeo-player__fullscreen svg:nth-child(1),
.vimeo-player[data-vimeo-fullscreen="true"] .vimeo-player__fullscreen svg:nth-child(2) {
  display: block;
}

/* Interface - Duration */
.vimeo-player__duration {
  flex-shrink: 0;
  width: 2.25em;
}

.vimeo-player__duration-span {
  text-align: center;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  display: block;
}
